<app-menu></app-menu>
<div class="contenedor">
<h2>En cartelera</h2>

<!--<input type="file" style="display:none" #cargar> Crea un input de tipo file para cargar archivos pero lo deja oculto
<button (click)="cargar.click()">Cargar Archivo</button> crea un boton haciendo referencia al input de carga de archivos-->

<app-listado-peliculas [peliculas]= "peliculasEnCines"></app-listado-peliculas><!-- Llama al componente de listado-peliculas.html -->
<!--[peliculas] es un binding de atributo y se utiliza para pasar expresiones de JS a los componentes, en este caso se pasa
la variable peliculaEnCines al atributo.-->
<h2>Futuros Estrenos</h2>

<app-listado-peliculas [peliculas]="peliculasProximosEstrenos"></app-listado-peliculas><!-- Llama al componente de listado-peliculas.html -->
</div>

<!--pipes
date
uppercase
lowercase
currency
-->


